* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Form.css  As it is small code so writing it here instead of new file*/
.myContainer {
  max-width: 400px !important;
  /* border: 2px solid; */
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.d-flex{
  gap: 20px;
}
.danger{
  color: red;
}